<ion-header>
  <ion-toolbar>
    <strong>Sign Up</strong>
  </ion-toolbar>
</ion-header>
<ion-card>
  <div class="icon">
    <img src="assets\icon\icon1.png" width="550">
  </div>
</ion-card>
<ion-list>
<ion-item>
  <ion-input placeholder="First Name"></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-input placeholder="Last Name"></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-input placeholder="Email Address"></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-input type="password" placeholder="Password"></ion-input>
</ion-item>
<br>
  <ion-item>
  <ion-input type="password" placeholder="Confirm Password"></ion-input>
</ion-item>
<br>

<div class="signupbtn">
<ion-button href="/tlogin" color="success">
  Sign Up
</ion-button> <ion-button href="treg">Clear</ion-button>

</div>
</ion-list>
<br>
<br>
<br>
