ion-list{
    text-align: center;
    
}
ion-header{
    text-align: center;
}
ion-card{
  text-align: center;
}
ion-input{
    font-family:'Times New Roman', Times, serif;
}
ion-title{
    font-family:'Times New Roman', Times, serif;
}
strong{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
  }