<ion-header>
  <ion-toolbar>
    <strong>Admin</strong>
  </ion-toolbar>
</ion-header>
<ion-card>
<div class="icon">
  <img src="assets\icon\icon1.png" width="450">
</div>
</ion-card>
<ion-list>
<ion-item>
  <ion-input placeholder="Input here.. "> Username : </ion-input>
</ion-item>
<br>
<ion-item>
  <ion-input type="password" placeholder="Input here.. ">Password : </ion-input>
</ion-item>
<br>
 
<br>

<ion-button href="/admin" color="success">login</ion-button>
<br>
</ion-list>
<br>
<br>
<br>
<ion-button color="light" ><a href = "/flogin">back</a></ion-button>