  <div class="ion-page" id="main-content">
  
    <ion-content class="ion-padding">  </ion-content>
  </div>

  <div id="container">
   
      <div class="icon">
        <img src="assets\icon\icon1.png" width="550">
      </div>

    <p></p>
    <ion-button color="light" ><a href = "/login">CLient</a></ion-button>
    <hr>
    <ion-button color="light" ><a href = "/tlogin">Therapist</a></ion-button>
    <hr>
    <ion-button color="light" ><a href = "/alogin">Admin</a></ion-button>
    <hr>
    <ion-button id="bottom-start">About us</ion-button>
    <ion-popover trigger="bottom-start">
      <ng-template>
       <ion-content class="ion-padding">
       <ion-label> Massage Application</ion-label>
       <br>
         <ion-label>  It is a application we're you can add schedule</ion-label>
        
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  
  



