#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  
  
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #080000;
  
    margin: 10;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content::part(background) {
    background: #FFFFFF;
    
  } 
  
  ion-content::part(scroll) {
    color: #0e0d0d;
  }
  
  img{
    size-adjust: 5%;
  }
  ion-button{
    font-family:'Times New Roman', Times, serif;
  }