<ion-header [translucent]="true">
  <div class="icon">
    <img src="assets\icon\icon1.png" width="550">
  </div>

  <ion-toolbar>
    <ion-title>
        <strong>Admin</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-label >List of Therapist</ion-label>
      <hr>
    </ion-toolbar>
  

  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"></ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-content>
  <ion-list>
  <ion-button color="success" fill="clear">No.1. Ms. Ola Ola D. OLe</ion-button>
  <br>
  <ion-button color="success" fill="clear">No.2. Ms. Ole Ole D. OLe</ion-button>
  <br>
  <ion-button color="success" fill="clear">No.3. Ms. Oles Olex D. OLe</ion-button>
  <br>
  <ion-button href="/appointment" size="small">View Appointment List</ion-button>
  <br>
  <ion-button href="/alogin" size="small">Back</ion-button>
  </ion-list>
  </ion-content>