ion-content{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
ion-header{
    text-align: center;
}
ion-label{
    text-align: center;
    font-size: 150%;
    font-family:'Times New Roman', Times, serif;
}
ion-title{
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;
}
ion-button{
    font-family:'Times New Roman', Times, serif;
}
ion-input{
    font-family:'Times New Roman', Times, serif;
}
ion-select{
    position: center;

}
