<ion-header [translucent]="true">
  <div class="icon">
    <img src="assets\icon\icon1.png" width="550">
  </div>

  <ion-toolbar>
    <ion-title>
        <strong>View Appointment</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-label >List of Appointment</ion-label>
      <hr>
    </ion-toolbar>
  

  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"></ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-content>
  <ion-list>
  <ion-button color="success" fill="clear">Appointment 1 </ion-button>

  <ion-button><ion-select label="Status" placeholder="">
    <ion-select-option value="App">Approved</ion-select-option>
    <ion-select-option value="Dec">Decline</ion-select-option>
  
  </ion-select>
  </ion-button>
  <br>
  <ion-button color="success" fill="clear">Appointment 2 </ion-button>
  <ion-button><ion-select label="Status" placeholder="">
    <ion-select-option value="App">Approved</ion-select-option>
    <ion-select-option value="Dec">Decline</ion-select-option>
  
  </ion-select>
  </ion-button>
  
  
  <br>
  <ion-button color="success" fill="clear">Appointment 3 </ion-button>
  <ion-button><ion-select label="Status" placeholder="">
    <ion-select-option value="App">Approved</ion-select-option>
    <ion-select-option value="Dec">Decline</ion-select-option>
  
  </ion-select>
  </ion-button>
  <br>
  <br>
  <br>
  <ion-button href="/admin" size="small">Back</ion-button>
  </ion-list>
  </ion-content>