ion-content{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
ion-header{
    text-align: center;
}
ion-label{
    text-align: center;
}
ion-title{
    font-size: 150%;
    font-family:'Times New Roman', Times, serif;
}
ion-list{
    text-align: center;
}
ion-select{
    font-family:'Times New Roman', Times, serif;
}

