ion-list{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
ion-title{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
ion-input{
    font-family:'Times New Roman', Times, serif;
}
ion-button{
    font-family:'Times New Roman', Times, serif;
}
strong{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
  }
  ion-header{
    text-align: center;
    
    } 